#indexbody {
    background-image: url(SPLASH.jpg);
    background-repeat: no-repeat;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
#personalbody {
    background-image: url(backgroundmain.jps);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
}
#logo {
    height: 110px;
    width: 201px;
}
.logodiv {
    display: flex;
    justify-content: flex-start;
}
#header {
    display: flex;
    background-color: #282627;
    width: 100%;
    height: auto;
    flex-direction: row;
    border-bottom-width: 12px;
    border-bottom-color: #03d3da;
    border-bottom-style: solid;
}
.linkcontain {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: none;
    align-content: space-around;
    justify-content: center;
}
#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin: none;
    padding: none;
    list-style: none;
    color: white;
}
#introbox {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: center;
}
.linksplit {
    display: flex;
    width: 2px;
    height: 80px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: white;
}
#footer {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #282627;
}
#desc {
    display: flex;
    align-self: center;
    color: white;
    margin-left: 10px;
}
#middle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}
#AI {
    height: auto;
    width: auto;
    font-size: 200px;
    font-family: "Helvetica", sans-serif;
}
.button {
    font-family: "Neutraface", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.linkol {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.linkol a:hover {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: deeppink;
    width: 100%;
}
#intro {
    height: auto;
    width: auto;
    text-align: justify;
    margin-right: 20px;
}
#introcontain {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: row;
}
#footgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 360px;
    margin-right: 10px;
}
.foottext {
    width: 150px;
    color: white;
    text-align: justify;
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
    font-size: 15px;
}
.linksplit2 {
    height: 80px;
    width: 1px;
    background-color: white;
}
.bodytext {
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
}
.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: white;
}
.headlinetext {
    font-size: 80px;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
}
#personalcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-family: "Neutraface", sans-serif;
    color: #03d3da;
    font-size: 35;
    margin-bottom: 0;
}
.contentp {
    color: white;
    height: auto;
    width: 75%;
    line-height: 1.3;
}
#fillimage {
    height: 200px;
    width: 45%;
    background-color: white;
}
#links_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 188px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
}
button, input[type="submit"], input[type="reset"] {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}




@media only screen and (max-width: 991px) {
    #indexbody {
    background-image: url(SPLASHmobile.jpg);
    background-repeat: no-repeat;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
#personalbody {
    background-image: url(backgroundmain.jps);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
}
#logo {
    visibility: hidden;
    width: 0px;
}
.logodiv {
    display: flex;
    justify-content: flex-start;
}
#header {
    display: flex;
    background-color: #282627;
    width: 100%;
    height: auto;
    flex-direction: row;
    border-bottom-width: 12px;
    border-bottom-color: #03d3da;
    border-bottom-style: solid;
}
.linkcontain {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: none;
    align-content: space-around;
    justify-content: center;
}
#links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin: none;
    padding: none;
    list-style: none;
    color: white;
}
#introbox {
    display: flex;
    width: 28%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: center;
}
.linksplit {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: white;
    margin: 0px;
}
#footer {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #282627;
}
#desc {
    visibility: collapse;
    width: 0px;
}
#middle {
    display: flex;
    justify-content: center;
    height: 200%;
    width: 100%;
    color: white;
}
#AI {
    height: auto;
    width: auto;
    font-size: 400px;
    font-family: "Helvetica", sans-serif;
    margin: 0px;
}
.button {
    font-family: "Neutraface", sans-serif;
    font-weight: 600;
    font-size: 50px;
}
.linkol {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.linkol a:hover {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: deeppink;
    width: 100%;
}
#intro {
    height: auto;
    width: auto;
    text-align: justify;
    margin-right: 20px;
    width: 250%
}
#introcontain {
    display: flex;
    height: auto;
    flex-direction: column;
    font-size: 30px;
    width: 100%;
    margin: 0px;
}
#footgroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 360px;
    margin-right: 10px;
}
.foottext {
    width: 150px;
    color: white;
    text-align: justify;
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
    font-size: 30px;
}
.linksplit2 {
    height: 90%;
    width: 1px;
    background-color: white;
}
.bodytext {
    font-family: "Neutraface","Helvetica","Arial",sans-serif;
}
.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: white;
    background-image: url(textbackimage.png);
}
.headlinetext {
    font-size: 80px;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
}
#personalcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-family: "Neutraface", sans-serif;
    color: #03d3da;
    font-size: 35;
    margin-bottom: 0;
}
.contentp {
    color: white;
    height: auto;
    width: 75%;
    line-height: 1.3;
}
#fillimage {
    height: 200px;
    width: 45%;
    background-color: white;
}
#links_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 188px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
}
button, input[type="submit"], input[type="reset"] {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}
}
